.filters {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.filters-title {
  color: var(--neutral-200);
}

.filters-btn-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filters-label {
  background: var(--neutral-800);
  padding: 10px 20px;
  outline: 1px solid var(--neutral-700);
  border-radius: 25px;
  cursor: pointer;
}

.filters-label:hover {
  background: var(--neutral-600);
}

.filters-btn-group input {
  position: absolute;
  opacity: 0;
}

.filters-btn-group input:checked + .filters-label {
  background: var(--red-500) !important;
}

@media screen and (width <= 800px) {
  .filters {
    flex-direction: column;
  }
}
