nav {
    width: calc(100% - 20px);
    height: 40px;
    padding: 15px;
    margin: 30px 0;

    border-radius: var(--border-rad);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: var(--neutral-800);
}