nav {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  background: var(--neutral-800);

  margin: 40px 0;
  padding: 15px;
  border-radius: 25px;
}

.nav-change-theme-btn {
  border: none;
  cursor: pointer;
  background: var(--neutral-700);
  padding: 15px;
  border-radius: 10px;
}

.nav-change-theme-btn:hover,
.nav-change-theme-btn:focus {
  background: var(--neutral-600);
}

.nav-change-theme-btn:focus {
  outline: 2px solid var(--red-500);
  outline-offset: 2px;
}
